node_modules
dist
docs
.turbo
**/.turbo
**/.tanstack
.env
.git
.husky
.gitignore
*.md
Dockerfile*
docker-compose*
.dockerignore
.vscode
*.log
coverage*
.editorconfig
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/test/**
*.tsbuildinfo
.changeset
.playwright
test-results
playwright-report
